h1 a {
  text-decoration: none;
}

mark {
  padding: .5rem 1rem;
  background: rgba(0,0,0,1);
  color:#fff;
  font-weight: bold;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: .4rem;
}
