.docs-Footer {
  margin-top:var(--g-space-gt);
  padding-top:var(--g-space-xl);
  padding-bottom:var(--g-space-xl);
  background-color: var(--g-gray-5);
}

.docs-Footer * {
  text-transform: uppercase;
  color: #000;
}

.docs-Footer p,
.docs-Footer li {
  font-size: var(--g-fontSize-xs);
}
