.docs-Main h1,
.docs-Main h2 {
  color:#000;
  text-transform: uppercase;
}

.docs-Main h1 {
  margin-top:var(--g-space-gt);
  margin-bottom:var(--g-space-sm);
}

.docs-Main h2 {
  margin-top:var(--g-space-lg);
}
