---
title: testing of link file
layout: page
base_url: "../"
load_files: ""
---
{{#extend "page"}}
	{{#content "content"}}

		<div class="docs-Main Container Container--slim t-gutter">
			testing of link file
		</div>

	{{/content}}
{{/extend}}
